# Dependencies
/vendor/
/node_modules/

# Environment configuration
.env

# Docker database volume storage
reg_db_data/

# Compiled Sass source maps
/public/assets/css/*.css.map

# IDE and OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db